@font-face {
  font-family: "Library 3 am";
  src: url(../../fonts/library-3-am-font/Library3am-5V3Z.otf),
   local("Library 3 am") format("truetype");
  }

.top {
    visibility: hidden;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    // background-image: url(../../images/background_50.PNG);
    // background-size: 40%;
    // background-repeat: no-repeat;
    // background-position: center 100px;
    // animation: top-animation 2s ease-in-out;
    height: auto;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    .text-strip-wrapper {
      position:relative;
      width:250%;
      height:50px;
      right:50%;
      .texts {
        position:relative;
        left:-450px;

        .strip-text {
          fill: #eadede;
          font-size: 2rem;
          width: fit-content;
          position:absolute;
          text-align:center;
        }
      }
    }

      .ini-letters {
        font-size: calc(10rem + 15vw);
        font-family: 'Library 3 am';
        position: absolute;
        top: 9%;
        right: 25%;
        z-index: -1;
      }


      .title {
        position: absolute;
        top: 18%;
        right: 0;
        z-index: -1;
        font-size: calc(4.375rem + 3.5vw);
        text-transform: uppercase;
        font-family: 'Library 3 am';
        text-align: right;
      }

      .text{
        position: absolute;
          top: 30%;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          opacity: 1;

        .job-1 {
          font-size: calc(0.875rem + 0.5vw);
          opacity: 80%;
          margin-bottom: 2rem;
        }

        .job-2 {
          font-size: calc(1.275rem + 0.5vw);
          margin-bottom: 2rem;
        }

        .job-3 {
          opacity: 40%;
        }
      }

      .title-1{
        position: absolute;
        top: 53%;
        left: 0;
        right: 0;
        z-index: 1;
        font-size: calc(4.375rem + 3.5vw);
      }
  }

@keyframes top-animation {
  0% {
    background-image: none;
  }

  10% {
    background-image: url(../../images/background_50.PNG);
    opacity: 10%;
  }

  // 30% {
  //   background-image: url(../../images/background_50.PNG);
  //   opacity: 30%;
  // }

  // 50% {
  //   background-image: url(../../images/background_50.PNG);
  //   opacity: 50%;
  // }

  // 70% {
  //   background-image: url(../../images/background_50.PNG);
  //   opacity: 70%;
  // }

  100% {
    background-image: url(../../images/background_50.PNG);
  }
}