.website-component {
    display: flex;

    .empire {
        width: 40%;
        background-image: url(../../images/empireThumbnail.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode:multiply;
        margin-inline-start: 8vw;
        margin-bottom: 10vh;

        h5 {
            padding-top: 8rem;
            padding-bottom: 5rem;
            color: transparent;
        }

        p {
            padding-bottom: 8rem;
            margin-top: 0;
            color: transparent;
        }
    }

    .empire:hover {
        background-color: rgba($color: #000000, $alpha: 0.8);
        h5 {
            color: white;
        }

        p {
            color: white;
        }
    }

    .sushiba {
        width: 40%;
        background-image: url(../../images/sushibathumbnail.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode:multiply;
        margin-left: 4rem;
        margin-inline-end: 8vw;
        margin-bottom: 10vh;

        h5 {
            padding-top: 8rem;
            padding-bottom: 5rem;
            color: transparent;
        }

        p {
            padding-bottom: 8rem;
            margin-top: 0;
            color: transparent;
        }
    }

    .sushiba:hover {
        background-color: rgba($color: #000000, $alpha: 0.8);
        h5 {
            color: white;
        }
        p {
            color: white;
        }
    }
}