.wrapper{
    position:relative;
    width:150%;
    height:50px;
    left:50%;
    transform: translateY(-450%);
    // background:grey;
    z-index: 0;
  }
  .wrapper .box{
    position:absolute;
    width: fit-content;
    height:50px;
    font-size:5rem;
    font-weight:600;
    line-height:50px;
    text-align:center;
  }
  .wrapper .boxes {
    position:relative;
    left:-250px;
}

@media screen and (max-width: 600px) {
  .wrapper {
    transform: translate(-50%, -120%) !important;
  }
}