.wrapper-graphic{
    position:relative;
    width:150%;
    height:50px;
    right:50%;
    transform: translateY(520%);
    // background:grey;
    z-index: -2;
  }
  .wrapper-graphic .box-graphic{
    position:absolute;
    width: fit-content;
    height:50px;
    font-size:5rem;
    font-weight:600;
    line-height:50px;
    text-align:center;
  }
  .wrapper-graphic .boxes-graphic {
    position:relative;
    left:-450px;
}