.text-sec {
    position: relative;
   width: 100vw;
   height: 100vh;
   background-color: #B85252;
   color: #eadede;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   h3 {
    display: block;
    left: auto;
    right: auto;
    font-size: 3rem;
    margin-bottom: 3rem;
    width: 70vw;
   }

   a {
    text-transform: lowercase;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 100;
    margin-right: 2rem;
    margin-left: 2rem;
    display: inline-block !important;
    transition: all 0.5s ease;

        &:hover {
            transform: translateY(-5px);

            svg {
                stroke-dashoffset: 0;
                opacity: 1;
                transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
        }

        svg {
            fill: none;
            stroke: #70aec9;
            stroke-width: 2;
            stroke-miterlimit: 10;
            stroke-dasharray: 338;
            stroke-dashoffset: 338;
            stroke-linecap: round;
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(180px);
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
            z-index: -1;
        }
   }

   .footer-bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    margin-bottom: 1rem;
    width: 100vw;
    padding: 0 1rem 0 1rem;

    span {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
       }
   }
}